<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>
<body>
<div class="uk-container uk-container-xlarge">

<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Логин</th>
      <th scope="col">Почта</th>
      <th scope="col">Город</th>
      <th scope="col">Телефон</th>
      <th scope="col">Тип</th>
      <th scope="col">Адресс</th>
      <th scope="col">Фото</th>
      <!-- <th>Actions</th> -->
    </tr>
  </thead>
  <tbody>

      <% results.forEach(function(r) { %>
        <tr>
          <th scope="row"><%= r.id %></th>
          <td><%= r.name %></td>
          <td><%= r.login %></td>
          <td><%= r.email %></td>
          <td><%= r.city %></td>
          <td><%= r.phone %></td>
          <td><%= r.user_type %></td>
          <td><%= r.address %></td>
          <td uk-lightbox="animation: slide">
            <a class="uk-inline" href="<%= r.avaurl %>" data-caption="<%= r.name %>">
              <img width="150" src="<%= r.avaurl %>" alt="<%= r.name %>">
            </a>
          </td>
          <!-- <td>
            <ul class="uk-iconnav">
                <li><a href="#" uk-icon="icon: trash"></a></li>
            </ul>
          </td> -->
        </tr>
      <% }); %>

  </tbody>
</table>

<div class="uk-child-width-1-2@s uk-text-center" uk-grid="masonry: true">
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Услуги</h3>
            <%= results[0].uslugi; %>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">Резюме</h3>
          <%= results[0].cv; %>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">Специализация</h3>
          <%= results[0].sp; %>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">Ссылка на Facebook</h3>
          <a href="<%= results[0].link %>"><%= results[0].link %></a>
        </div>
    </div>
</div>
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">Координаты</h3>
          <%= results[0].longitude %>, <%= results[0].latitude %>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">Языки</h3>
          <%= results[0].langs %>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">Статус</h3>
          <%= results[0].status %>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title">Цена</h3>
          <%= results[0].price %>
        </div>
    </div>

</div>

</div>

</body>
</html>
