<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="apple-itunes-app" content="app-id=1517313227">
  <script type="text/javascript">
    const getCookie = (name) => {
      let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    if (getCookie('token')) {
      window.location.replace("/general#/agreement/" + window.location.href.split('/').pop());
    }
  </script>
</head>

<body>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
            <h2 class="youstersh2">Yousters Subscribe</h2>
        </ul>
    </div>
</nav>
  <div class="uk-container uk-container-xsmall" style="margin-bottom: 50px">
    <div class="uk-grid-small" uk-grid>
      <div>
        <h1 class="certificate">Сертификат онлайн-подписи</h1>
        <div class="block">
          <p class="subtitle">Что было подписано</p>
          <p class="title"><%= agreement.title %></p>
        </div>
        <div class="block">
          <p class="subtitle">Дата создания</p>
          <p class="title"><%= moment.utc(agreement.created_at).local().format("DD.MM.YYYY в HH:mm:ss") %> по UTC</p>
        </div>
        <div class="block">
          <p class="subtitle">Ссылка на файл</p>
          <p class="smalltitle"><a href="<%= agreement.link %>"><%= agreement.link %></a></p>
        </div>
        <div class="block">
          <p class="subtitle">Хэш (SHA256) файла</p>
          <p class="emoji-hash"><%= agreement.hash %></p>
        </div>
        <div class="block">
          <% if (subs.length > 0) { %>
            <p class="subtitle">Подписали</p>
          <% }; %>
          <% subs.forEach(function(s) { %>
            <% if (s.inn) { %>
              <p class="smalltitle"><%= s.user_name %> (ИНН: <%= s.inn %>) <%= moment.utc(s.created_at).local().format("DD.MM.YYYY в HH:mm:ss")  %> по UTC при помощи кода, отправленного на номер телефона <%= s.phone %></br>
                <% if (s.uid) { %>
                    Ссылка на видео-подтверждение <a href="/sub/<%= s.uid %>/video">https://you-scribe.ru/sub/<%= s.uid %>/video</a>
                  <% }; %>
            </p></br>
            <% }; %>
            <% if (!s.inn) { %>
              <p class="smalltitle"><%= s.user_name %> - <%= moment.utc(s.created_at).local().format("DD.MM.YYYY в HH:mm:ss")  %> по UTC при помощи кода, отправленного на номер телефона <%= s.phone %></br>
                <% if (s.uid) { %>
                    Ссылка на видео-подтверждение <a href="/sub/<%= s.uid %>/video">https://you-scribe.ru/sub/<%= s.uid %>/video</a>
                  <% }; %>
          </p></br>
            <% }; %>

          <% }); %>
          <% if (subs.length < 2) { %>
            <div class="uk-grid-small" uk-grid>
              <div>
                <a href="https://apps.apple.com/us/app/id1517313227" class="main-button case-sub-button">Подписать в приложении</a>
              </div>
              <div>
                <a href="/sign" class="main-button secondary-color-but case-sub-button">Авторизоваться и подписать</a>
              </div>
            </div>
          <% }; %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
