<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="uk-container uk-container-xlarge">

  <div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title"><%= results.length %></h3>
      <p>Count of Lawyers and Partners</p>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">
      <h3 class="uk-card-title"><%= results.filter(r => r.user_type === 'Юрист').length %></h3>
      <p>Count of Lawyers</p>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">
      <h3 class="uk-card-title"><%= results.filter(r => r.user_type === 'Партнёр').length %></h3>
      <p>Count of Partners</p>
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">
      <h3 class="uk-card-title"><%= results.filter(r => r.isactive === true).length %></h3>
      <p>Count of activaited</p>
    </div>
</div>

<h2>Registred lawyers</h2>
<div class="table-responsive-xl">

<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th>is active</th>
      <th>want to be partner</th>
      <th scope="col">Логин</th>
      <th scope="col">Почта</th>
      <th scope="col">Город</th>
      <th scope="col">Телефон</th>
      <th scope="col">Тип</th>
      <th scope="col">Адресс</th>
      <th scope="col">Фото</th>
      <!-- <th>Actions</th> -->
    </tr>
  </thead>
  <tbody>

      <% results.forEach(function(r) { %>
        <tr>
          <th scope="row"><%= r.id %></th>
          <td><a href=/admin/lawyers/<%= r.id %>><%= r.name %></a></td>
          <td><%= r.isactive %></td>
          <td><%= r.want %></td>
          <td><%= r.login %></td>
          <td><%= r.email %></td>
          <td><%= r.city %></td>
          <td><%= r.phone %></td>
          <td><%= r.user_type %></td>
          <td><%= r.address %></td>
          <td uk-lightbox="animation: slide">
            <a class="uk-inline" href="<%= r.avaurl %>" data-caption="<%= r.name %>">
              <img src="<%= r.avaurl %>" alt="">
            </a>
          </td>
          <!-- <td>
            <ul class="uk-iconnav">
                <li><a href="#" uk-icon="icon: plus"></a></li>
                <li><a href="#" uk-icon="icon: file-edit"></a></li>
                <li><a href="#" uk-icon="icon: copy"></a></li>
                <li><a href="#" uk-icon="icon: trash"></a></li>
            </ul>
          </td> -->
        </tr>
      <% }); %>

  </tbody>
</table>

<ul>

</ul>

</div>
</div>
</body>
</html>
